<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.ecom.qa.testcases.LoginPageTest"/>
      <class name="com.ecom.qa.testcases.MenPageTest"/>
      <class name="com.ecom.qa.testcases.FragrancePageTest"/>
      <class name="com.ecom.qa.testcases.AccountPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
